[submodule "pelican/plugins"]
	path = pelican/plugins
	url = git@github.com:getpelican/pelican-plugins.git
[submodule "pelican/pelican"]
	path = pelican/pelican
	url = git@github.com:getpelican/pelican.git
[submodule "pelican/themes/elegant"]
	path = pelican/themes/elegant
	url = git@github.com:Pelican-Elegant/elegant.git
